language: node_js
node_js:
  - "stable"
  - "4.0"
  - "0.12"
  - "0.10"
sudo: false

script:
  - istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly -- -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
